@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400&display=swap");

body {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin-top: 200px;
  border: none;
  padding: 6px;
}

.result-container {
  margin-top: 50px;
  font-size: 30px;
}

.check-btn {
  font-family: "Noto Sans Jp", sans-serif;
  font-size: 16px;
  border-radius: 10px;
}

.check-btn:hover {
  cursor: pointer;
  background-color: lightgray;
}
